
.rockets {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 85px;
    top: 100px;

    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Sansation Light', monospace;;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    color: #631A6D;
}


.Inoman {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 85px;
    top: 150px;

    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Sansation Light', monospace;;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    color: #631A6D;
}

.CosmoFood {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 85px;
    top: 200px;

    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Sansation Light', monospace;;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    color: #631A6D;
}

.Planet {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 85px;
    top: 250px;

    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Sansation Light', monospace;;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    color: #631A6D;
}

.Satellite {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 85px;
    top: 300px;

    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Sansation Light', monospace;;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    color: #631A6D;
}

.Equipment {
    position: absolute;
    width: 300px;
    height: 55px;
    left: 85px;
    top: 350px;

    border: 2px solid #CECECE;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Sansation Light', monospace;;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    color: #631A6D;
}