.Header {
    position: absolute;
    width: 1920px;
    height: 97px;
    /*left: 1px;*/
    top: 1px;

    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.HeaderName {
    position: absolute;
    width: 170px;
    height: 36px;
    left: 134px;
    top: 31px;

    font-family: 'Sansation', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;

    color: #631A6D;
}