<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpaceShop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main\css\dis.css'%}">
</head>
<body>
    {% load static %}
    <img src="{%  static "main/images/dg0.jpg" %} " alt="Джейсон Стетхем">
    <h1>В темный час мы видим звезды.</h1>
    <h2>— Джейсон Стетхем, ведущий акционер компании SpaceShop</h2>
    <h3>В настоящее время </h3>
</body>
</html>