.pict {
    position: absolute;
    width: 736px;
    height: 780px;
    left: 1100px;
    top: 80px;
    background: url("../../pictures/js21.jpg");
}
.text5 {
    position: absolute;
    width: 1000px;
    height: 55px;
    left: 200px;
    top: 32px;
    font-family: 'Sansation Regular', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 40px;
    color: #000000;
}

.text6 {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 200px;
    top: 110px;
    font-family: 'Sansation Regular', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 60px;
    color: #631A6D;
}
.moon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 620px;
    top: 90px;
    background: url("../../pictures/moon-100x100.png");
}

.text7 {
    position: absolute;
    width: 1000px;
    height: 55px;
    left: 300px;
    top: 250px;
    font-family: 'Sansation Regular', monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 40px;
    color: #000000;
}
.text8 {
    position: absolute;
    width: 700px;
    height: 55px;
    left: 300px;
    top: 310px;
    font-family: 'Sansation Regular', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}
.text9 {
    position: absolute;
    width: 1000px;
    height: 55px;
    left: 300px;
    top: 400px;
    font-family: 'Sansation Light', monospace;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}
.text10 {
    position: absolute;
    left: 240px;
    top: 220px;
    width: 880px;	height: 240px; /* Размеры */
    border: 5px solid MediumVioletRed;
    padding: 5px;
}

.text11 {
    position: absolute;
    width: 1000px;
    height: 55px;
    left: 200px;
    top: 530px;
    font-family: 'Sansation Light', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #000000;
}
.text12 {
    position: absolute;
    width: 1000px;
    height: 55px;
    left: 200px;
    top: 700px;
    font-family: 'Sansation Light', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #000000;
}
.text13 {
    position: absolute;
    width: 1000px;
    height: 55px;
    left: 200px;
    top: 1150px;
    font-family: 'Sansation Light', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #000000;
}
.container {
    width: 1920px;
    height: 100%;
    display: inline-block;
    text-align: left;
    position: relative;
}
.help {
    height: 1000px;
    width: 100%;
    text-align: center;
}
