

.catalog_item {

    width: 250px;
    height: 400px;
    background-color: #E6E6E6;
    margin-top: 25px;

    font-weight: 300;
    padding: 15px;
    border: 8px solid #FFFFFF;
    border-radius: 30px;

}

.catalog_item img {
    position: center;
    width: 250px;
    height: 250px;

    top: 15px;
    border-radius: 20px;
}

.catalog_item .item_title{
    font-family: 'Roboto',monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.005em;

    margin-top: 7px;
    color: #121212;
}

.catalog_item .item_stars{

    margin-top: 55px;

    font-family: 'Roboto', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 0.005em;

    color: #121212;
}

.catalog_item .item_price{
    margin-top: -2px;

    font-family: 'Roboto', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.005em;

    color: #121212;

}