
.catalog_item {

    height: 430px;
    background-color: #E6E6E6;

    font-weight: 300;
    padding: 15px;
    border: 8px solid #FFFFFF;
    border-radius: 30px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 15px;

}

.catalog_item img {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 240px;

    border-radius: 20px;
}

.catalog_item .item_title{
    font-family: 'Roboto',monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.005em;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    margin-top: 7px;
    color: #121212;
}

.catalog_item .item_stars{

    font-family: 'Roboto', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    letter-spacing: 0.005em;

    color: #121212;
}

.catalog_item .item_price{
    font-family: 'Roboto', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.005em;

    margin-left: auto;
    margin-right: auto;
    width: 90%;

    color: #121212;
}

.catalog_item .bottom_aligner{
    position: absolute;
    bottom: 30px;
    width: 270px;
}