.Footer{
    position: absolute;
    width: 1920px;
    height: 78px;
    /*left: 0px;*/
    bottom: 0px;

    background: #631A6D;
    /*border: 1px solid #FFFFFF;*/
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gran1{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1650px;
    top: 1007px;
    border-radius: 53px;
    background: #F2F2F2;
}

.gran2{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1730px;
    top: 1007px;
    border-radius: 53px;
    background: #F2F2F2;
}

.gran3{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1810px;
    top: 1007px;
    border-radius: 53px;
    background: #F2F2F2;
}

.vk{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1650px;
    top: 1007px;
    border-radius: 53px;
    background: url("../../pictures/vk.png");
}

.yt{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1730px;
    top: 1007px;
    border-radius: 53px;
    background: url("../../pictures/yt.png");
}

.tl{
    position: absolute;
    width: 64px;
    height: 64px;
    left:1810px;
    top: 1007px;
    border-radius: 53px;
    background: url("../../pictures/gith.png");
}