.footer1{
    position: absolute;
    width:100%;
    height: 78px;
    top: 998px;

    background: #631A6D;
    /*border: 1px solid #FFFFFF;*/
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.github1{
    position: absolute;
    width: 64px;
    height: 64px;
    left:2170px;
    top:10px;
    border-radius: 53px;
    background: url("../../pictures/gith.png");
}
.vk1
{
    position: absolute;
    width: 64px;
    height: 64px;
    left:2070px;
    top:10px;
    border-radius: 53px;
    background: url("../../pictures/vk.png");
}
.vk2
{
    position: absolute;
    width: 64px;
    height: 64px;
    left:1710px;
    top:1006px;
    border-radius: 53px;
    background: url("../../pictures/vk.png");
}

.footer2{
    position: absolute;
    width:100%;
    height: 78px;
    margin-bottom: -50px;
    /*margin-top: -50px;*/
    background: #631A6D;
    /*border: 1px solid #FFFFFF;*/
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.github2{
    margin-top: 6px;
    position: relative;
    width: 64px;
    height: 64px;

    display: block;
    margin-left: auto;
    margin-right: 10vw;
    border-radius: 53px;

    background: url("../../pictures/gith.png");

}

img {
    width: auto;
    max-height: 100%;
    border-radius: 100%;
}