.footer1{
    position: absolute;
    width:100%;
    height: 78px;
    top: 998px;

    background: #631A6D;
    /*border: 1px solid #FFFFFF;*/
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.github1{
    position: absolute;
    width: 64px;
    height: 64px;
    left:1810px;
    top:1006px;
    border-radius: 53px;
    background: url("../../pictures/gith.png");
}

.footer2{
    position: absolute;
    width:100%;
    height: 78px;
    margin-top: -50px;

    background: #631A6D;
    /*border: 1px solid #FFFFFF;*/
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.github2{
    position: absolute;
    width: 64px;
    height: 64px;

    right: 100px;
    bottom: 8px;
    border-radius: 53px;
    background: url("../../pictures/gith.png");
}