
.HeaderRef1{
  position: absolute;
  width: 99px;
  height: 36px;
  left: 1372px;
  top: 36px;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;

  color: #631A6D;
}

.HeaderRef2{
  position: absolute;
  width: 68px;
  height: 29px;
  left: 1532px;
  top: 36px;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;

  color: #631A6D;
}

.logo{
  position: absolute;
  width: 53px;
  height: 53px;
  left: 46px;
  top: 23px;

  background:url("pictures/logo.png");
}

