/* 1612269165_132-p-krasivii-fon-fioletovii-kosmos-194 1 */

body {
position: absolute;
width: 1920px;
height: 1047px;
left: 0px;
top: 1px;

background: linear-gradient(73.53deg, #1D0820 0.15%, #4A1553 99.63%);
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}